<% provide(:title, 'All posts') %>
<div class="text-center jumbotron">
  <h1>Welcome to the Clubhouse</h1>
</div>

<%= will_paginate(@posts, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<%= render @posts %>